<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello, Flask</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>
    <body>
        <h1>{{len}}</h1>
        <div class="wrap-films">
            {%for i in range(0, len)%}
                    <div class="item-film">
                        <div class="cart-film">
                            <img src="{{url_img[i]}}">
                        </div>
                        <div class="des-film">
                            <span>{{film_year[i]}}</span>
                            <h3>{{film_name[i]}}</h3>
                            <p>{{film_rating[i]}}</p>
                            <em>{{film_description[i]['ru']}}</em>
                        </div>
                        
                    </div>
            {%endfor%}
            

        </div>    
        <footer>
            <p>&copy; 2022</p>
        </footer>
    </body>
</html>